<!DOCTYPE html>

<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Dictionary</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Dekko" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/materialize.min.css')}}">
  <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>
<body>
  <div class="">
  <nav class="blue-grey darken-4 nav-extended" role="navigation">
    <div class="nav-wrapper container">
      <div id="logo-container" class='row valign-wrapper brand-logo'>


      </div><div class="hide-on-med-and-down"><a id="logo-container" href="{{url_for('home')}}" class="brand-logo" style="padding-left:80px">dicApp</a></div>


      <ul id="nav-mobile" class="sidenav">

      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
  <div class="section no-pad-bot cyan darken-2" style="background: linear-gradient(to bottom,#263238  , #0097a7,white);" id="index-banner">
    <div class="container">
      <h2 class="header center white-text">Dictionary</h2>
    </div>
    <br><br><br><br>
    </div>

<main>
  <div class="container">

{% block content %}
{% endblock %}
  </div>
</main>

  <footer class="page-footer cyan darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Hussain Naseem Inc.</h5>
          <p class="grey-text text-lighten-4">dad | financial planner | house-husband | part time photographer | occasional programmer</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
      <a class="cyan-text text-lighten-3" href="http://hussainnaseem.xyz"> &copy; 2018 Hussain Naseem</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="{{ url_for('static',filename='js/init.css')}}"></script>

  </body>
</html>
